.outer {
    background: var(--app-bg);
    color: var(--neutral-0);
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    width: 100%;
}

.inner {
    width: 100%;
    max-width: 120rem;
    padding: 0 2rem;
    position: relative;
}

.section {
    height: 100vh;
}
