.outer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.inner {
    width: 100%;
    max-width: 100rem;
    padding: 0 2rem;
    position: relative;
}

.section {
    min-height: 100vh;

    /* Height of header */
    padding-top: 5.3125rem;

    /* Heigh of  bottom nav*/
    padding-bottom: 5rem;

    position: relative;
}
