.container {
    background: var(--card-bg);
    border-radius: 1rem;
    color: var(--neutral-1);
    padding: 2rem;
}

.action {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 800;
    text-align: right;
    color: var(--neutral-3);
}

.body {
    padding-bottom: 3rem;
}

.avatar {
    height: 2rem;
    width: 2rem;
    margin-bottom: 1rem;
}
