.container {
    padding: 1rem 0;
}

.light.background {
    background: var(--neutral-0);
}

.dark.background {
    background: var(--app-bg);
}

.header {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 48px;
    width: 48px;
}

.asaan {
    font-size: 0.8rem;
    font-weight: 800;
    padding-left: 1rem;
    text-transform: uppercase;
}

.header.light .asaan {
    color: var(--neutral-invert-2);
}
.header.dark .asaan {
    color: var(--neutral-3);
}

.fixed {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
}
