.header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.logo {
    height: 48px;
    width: 48px;
}

.asaan {
    color: var(--neutral-3);
    font-size: 0.8rem;
    font-weight: 800;
    text-transform: uppercase;
}
