* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --app-bg: #191919;
    --primary: #4caf50;
    --neutral-0: #fff;
    --neutral-1: #aaa;
    --neutral-2: #999;
    --neutral-3: #555;
    --neutral-invert-0: #000;
    --neutral-invert-1: #444;
    --neutral-invert-2: #666;
    --neutral-invert-3: #bbb;
    --card-bg: #1f1f21;
}

html,
body {
    background: var(--app-bg);
    color: var(--neutral-0);
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 16px;
    position: relative;
}
