.menuOverlay {
    background: #fff;
    color: #111;
    position: fixed;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 15;
}

.menuSection {
    display: flex;
}

.menuItemDescriptionContainer {
    flex: 1;
    position: relative;
}

.menuItemContainer {
    align-items: flex-end;
    justify-content: flex-end;
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    overflow: auto;
}

.menuItemLink {
    color: #aaa;
    text-decoration: none;
    display: inline-block;
    font-size: 3rem;
    margin: 1rem 0;
    background-image: linear-gradient(#222, #222);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: 0 2px;
    transition: 0.3s;
}

.menuItemLink:hover {
    background-size: 100% 2px;
    /* font-size: 4rem; */
    color: #222;
}
